[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
geopy = "*"
requests = "*"

[dev-packages]
python-dotenv = "*"
black = "*"
isort = "*"
pylint = "*"

[requires]
python_version = "3.9"
