{% extends "base.html" %}
{% block content %}
			<div class="card text-center m-3">
				<div class="card-body">
					<h5 class="card-title">{{ city_name }}</h5>
					<p class="card-text mb-4">Your answer is <b>{{ distance }}</b> away from the correct location</p>
					<a href="{{ url_for('question_page') }}" class="btn btn-primary" role="button">Next question</a>
				</div>
			</div>
{% endblock %}


	{% block map_script %}

	map.setCenter({ lat: {{ lat_true|tojson }}, lng: {{ lng_true|tojson }} });
	map.setZoom(5);

        point_answer = {lat: {{ lat_answer|tojson }}, lng: {{ lng_answer|tojson }} };
        point_correct_location = {lat: {{ lat_true|tojson }}, lng: {{ lng_true|tojson }} };

	marker_answer = new H.map.Marker(point_answer);
	
	var icon = new H.map.Icon('https://img.icons8.com/color/48/000000/marker--v1.png');
	marker_true = new H.map.Marker(point_correct_location, {icon: icon});
	
	map.addObject(marker_answer);
	map.addObject(marker_true);
	
	var line_string = new H.geo.LineString();
	line_string.pushPoint(point_answer);
	line_string.pushPoint(point_correct_location);

	var polyline = new H.map.Polyline(line_string, {style: {lineWidth: 2, strokeColor: 'black', lineDash: [2, 4]}});

	map.addObject(polyline);

	{% endblock %}
