{% extends "base.html" %}
{% block head %}
	<script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"type="text/javascript" charset="utf-8"></script>
	<script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"type="text/javascript" charset="utf-8"></script>
	<script src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js" type="text/javascript" charset="utf-8"></script>
	<script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css"href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}


{% block body %}

<div class="container-fluid g-0">
	<div class="row g-0">
		<div class="col-md-3 bg-light">
			<div class="card bg-success bg-gradient text-white m-3">
					<div class="card-body">
						<h3 class="card-title"><a href="/" style="text-decoration: none; color: inherit;">Closest wins &#11088; &#127919;</a></h3>
					</div>
			</div>
			{% block content %}	{% endblock  %}
		</div>
		<div class="col-md-9 vh-100">
			<div id="mapContainer"></div>
		</div>
	</div>
</div>

{% block script %}
<script>
      // Initialize the platform object:
      var platform = new H.service.Platform({
        'apikey': '{{ MAP_API_KEY }}'
      });


	// Obtain the default map types from the platform object
      var maptypes = platform.createDefaultLayers();

	// Instantiate (and display) a map object:
	var map = new H.Map(
		document.getElementById('mapContainer'),
        maptypes.raster.normal.xbase,
        {
        	padding: {top: 80, left: 80, bottom: 80, right: 80}
        }
	);

	// add a resize listener to make sure that the map occupies the whole container
	window.addEventListener('resize', () => map.getViewPort().resize());

	var mapEvents = new H.mapevents.MapEvents(map);
	var behavior = new H.mapevents.Behavior(mapEvents);

	var ui = H.ui.UI.createDefault(map, []);
</script>

{% endblock %}

{% endblock  %}
