{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-5 m-5">
            <div class="error-template text-center">
                <h2>
                    It's an error :(
                </h2>
                <p>
                    Sorry, an error has occured, Requested page can not be served!
                </p>

                <a href="/" class="btn btn-outline-primary btn-lg">
                    Take Me Home
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}