{% extends "base.html" %}

{% block body %}
<div class="container">
        <div class="row justify-content-center">
            <div class="col-5 m-5 bg-light">
                <div>
                    <h1>Room "{{ room_id }}"</h1>
                    {% if is_owner %}
                    <p>Invite link:</p>
                    <p>{{ invite_link }}</p>
                    {% endif %}
                    <h2>
                        Users waiting in the lobby
                    </h2>
                    <ul id="users-in-the-lobby"></ul>
                    <a href="{{ url_for('game', room_id=room_id) }}" class="btn btn-success" role="button">Start game</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/lobby.js') }}"></script>
    <script>
        $(document).ready(function() {
            setupWebSocket("{{ websocket_url }}", "{{ room_id }}");
        });
    </script>
{% endblock %}