{% extends "base_question_answer.html" %}
{% block content %}
	<div class="card text-center m-3">
		<div class="card-body">
			<h5 class="card-title">Locate &#128205;	</h5>
			<h1 class="card-text mb-4">{{ city_name }}</h1>
			{% block question_controls %}{% endblock %}
		</div>
	</div>
{% endblock %}
{% block script %}
{{ super() }}
<script>
	map.setCenter({ lat: 50.45, lng: 30.52 });
	map.setZoom(3);

	var marker_answer = null;

	// Add event listener:
	map.addEventListener('tap', function(evt) {
		var coord = map.screenToGeo(evt.currentPointer.viewportX, evt.currentPointer.viewportY);
		if (!(marker_answer == null)) {
			map.removeObject(marker_answer);
		}
		marker_answer = new H.map.Marker({lat: coord.lat, lng: coord.lng});
		map.addObject(marker_answer);
		if (!!document.answer_form) {
			document.answer_form.answer.value = JSON.stringify({ lat: coord.lat, lng: coord.lng, question_id: '{{ question_id }}', city_name: '{{ city_name }}' });
			document.getElementById("submit_button").disabled = false;
		}
	});
</script>
{% endblock %}
